DATABASE_URL="postgresql://user:password@localhost:5432/globetrotter?schema=public"
JWT_SECRET="a-long-random-string-32-chars-or-more"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Groq inference API key - https://console.groq.com/keys
GROQ_API_KEY=""
